# Port run app
NODE_ENV="production"
BASE_URL_LOCAL="http://localhost"
PORT="4000"

# Token
ACCESS_TOKEN="your_access_token_here"
REFRESH_TOKEN="your_refresh_token_here"
EXPIRES_ACCESS_TOKEN="1h"
EXPIRES_REFRESH_TOKEN="3d"

# Bcrypt
SECRET_KEY_SALT="your_secret_key_salt_here"
JWT_SECRET="your_jwt_secret_here"

# Redis
REDIS_HOST="localhost"
REDIS_PORT="6379"

# PostgreSQL Database
DB_HOST="localhost"
DB_DATABASE="xamnhapman_tphcm"
DB_PORT="5432"
DB_USER="postgres"
DB_PASSWORD="your_database_password"

# Email Configuration (NodeMailer)
EMAIL="your_email@example.com"
EMAIL_PASSWORD="your_app_password"
